.home {
	background-color: #121829;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 10px;
}
/*  */
.home.green .sidebar {
	background-color: #132b15;
	border-right: 3px solid #238014;
}
.home.red .sidebar {
	background-color: #351717;
	border-right: 3px solid #801414;
}

.home.green .navbar {
	background-color: #132b15;
	border-bottom: 2px solid #238014;
}
.home.red .navbar {
	background-color: #351717;
	border-bottom: 2px solid #801414;
}

.home.green .search {
	background-color: #1d4325;
	border-bottom: 2px solid #238014;
}
.home.red .search {
	background-color: #351717;
	border-bottom: 2px solid #801414;
}

.home.green .userChat {
	background-color: #132b15;
	border-bottom: 2px solid #238014;
}
.home.red .userChat {
	background-color: #351717;
	border-bottom: 2px solid #801414;
}

.home.green .userChat:hover {
	background-color: #179305;
}
.home.red .userChat:hover {
	background-color: #801414;
}

.home.green .send button {
	background-color: #179305;
}
.home.red .send button {
	background-color: #801414;
}

.home.green .messageContent p {
	background-color: #18147f;
}
.home.red .messageContent p {
	background-color: #179305;
}

.home.green .message.owner .messageContent p {
	background-color: #179305;
}
.home.red .message.owner .messageContent p {
	background-color: #801414;
}

.home.green .chatnInfo {
	background-color: #132b15;
}
.home.red .chatnInfo {
	background-color: #351717;
}
.home.green .messages {
	background-color: #224e35;
}
.home.red .messages {
	background-color: #4e2222;
}
.home.green .chatInput input {
	background-color: #132b15;
}
.home.red .chatInput input {
	background-color: #351717;
}
.home.green .chatInput {
	background-color: #132b15;
}
.home.red .chatInput {
	background-color: #351717;
}
.home.green .Loading {
	background-color: #132b15;
}
.home.red .Loading {
	background-color: #351717;
}
.home.green .messagesEd {
	background-color: #224e2e;
}
.home.red .messagesEd {
	background-color: #4e2222;
}
.home.green .chats {
	background-color: #224e2e;
}
.home.red .chats {
	background-color: #4e2222;
}

.home.green .navbarSet button {
	background-color: #224e2e;
}
.home.red .navbarSet button {
	background-color: #4e2222;
}
.home.green .navbarSet {
	background-color: #224e2e;
	border: 2.5px solid #179305;
}
.home.red .navbarSet {
	background-color: #4e2222;
	border: 2.5px solid #801414;
}

.home.green .navbarSet button:hover {
	background-color: #179305;
}
.home.red .navbarSet button:hover {
	background-color: #801414;
}

.home.green .chatModalSet {
	background-color: #224e2e;
	border: 2.5px solid #179305;
}
.home.red .chatModalSet {
	background-color: #4e2222;
	border: 2.5px solid #801414;
}

.home.green .chatButton {
	background-color: #132b15;
}
.home.red .chatButton {
	background-color: #351717;
}

.home.green .chatModalSet button {
	background-color: #224e2e;
}
.home.red .chatModalSet button {
	background-color: #4e2222;
}
.home.green .chatModalSet button:hover {
	background-color: #179305;
}
.home.red .chatModalSet button:hover {
	background-color: #801414;
}

.home.green .chatModalSet p {
	border-bottom: 3px solid #179305;
}
.home.red .chatModalSet p {
	border-bottom: 3px solid #801414;
}
.home.green .navbarSettingsDiv {
	background-color: #132b15;
}
.home.red .navbarSettingsDiv {
	background-color: #4e2222;
	border: 3px solid #801414;
}
/*  */
.home-container {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
}
h1 {
	color: #fff;
}
.link {
	color: #fff;
	text-decoration: underline;
}
.sidebar {
	flex: 2;
	border-right: 3px solid #18147f;
	background-color: #171f35;
}
.chat {
	flex: 5;
	background-color: #171f35;
}
.navbar {
	display: flex;
	align-items: center;
	background-color: #171f35;
	border-bottom: 2px solid #18147f;
	height: 50px;
	padding: 10px;
	justify-content: space-between;
	color: #ddddf7;
}
.navbar-logo {
	font-weight: bold;
}
.user {
	display: flex;
	gap: 10px;
	align-items: center;
}
.user img {
	background-color: #ddddf7;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	object-fit: cover;
}
.user button {
	background-color: #1c197f;
	color: #ddddf7;
	font-size: 12px;
	cursor: pointer;
	padding: 5px;
	border: none;
}
.search {
	border-bottom: 2px solid #18147f;
	background-color: #1d2743;
}
/* .searchForm {
} */
.searchForm input {
	padding: 10px;
	background-color: transparent;
	width: 100%;
	border: none;
	color: white;
	outline: none;
}
.searchForm input::placeholder {
	color: lightgray;
}
.userChat img {
	width: 40px;
	object-fit: cover;
	height: 40px;
	border-radius: 50%;
}
.userChat {
	padding: 10px;
	border-bottom: 2px solid #18147f;
	display: flex;
	align-items: center;
	gap: 10px;
	color: white;
	cursor: pointer;
	background-color: #171f35;
	transition: all 0.3s;
}
.userChat:hover {
	background-color: #1c197f;
}
.userChatInfo p {
	font-size: 14px;
	color: lightgray;
}
.userChatInfo {
	max-width: 65%;
}
.userChatInfo span {
	font-size: 18px;
	font-weight: bolder;
}
.chatnInfo {
	height: 50px;
	background-color: #171f35;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	color: lightgray;
}
.chatIcons {
	position: relative;
	display: flex;
	gap: 10px;
	align-items: center;
}
.chatIcons img {
	height: 24px;
	cursor: pointer;
}
.messages {
	background-color: #222e4e;
	overflow-y: scroll;
	padding: 10px;
	height: calc(100% - 160px);
}
.chatInput {
	background-color: #171f35;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.chatInput input {
	width: 100%;
	background-color: #171f35;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 15px 10px;
	color: #ffffff;
}
.chatInput input::placeholder {
	color: lightgray;
}
.send {
	display: flex;
	align-items: center;
	gap: 10px;
}
.send img {
	height: 24px;
	cursor: pointer;
}
.send button {
	border: none;
	padding: 10px 15px;
	color: white;
	background-color: #8da4f1;
	cursor: pointer;
}
.message {
	display: flex;
	margin-bottom: 20px;
	gap: 20px;
}
.messageInfo {
	display: flex;
	flex-direction: column;
	color: gray;
	font-weight: 300;
}
.messageInfo img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}
.messageContent img {
	width: 50%;
}
.messageContent {
	max-width: 80%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.messageContent p {
	background-color: #147f3d;
	padding: 10px;
	border-radius: 0px 10px 10px;
	color: white;
	max-width: max-content;
}
.message.owner {
	flex-direction: row-reverse;
}
.message.owner .messageContent p {
	background-color: #18147f;
	color: white;
	border-radius: 10px 0 10px 10px;
}
.message.owner .messageContent {
	align-items: flex-end;
}
.Loading {
	background-color: #121829;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: white;
}
.chat-info-img {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
}
.messagesEd {
	height: 100%;
	background-color: #222e4e;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.chats {
	background-color: #1d2743;
	overflow-y: scroll;
	display: flex;
	transition: all 0.5s;
	flex-direction: column;
	justify-content: space-between;
	max-height: calc(100% - 112px);
	/* height: calc(80% - ); */
}
.userSet {
	position: relative;
}
.navbarSet {
	position: absolute;
	top: 25px;
	left: -40px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #222e4e;
	border: 2.5px solid #18147f;
}
.navbarSet button {
	background-color: #222e4e;
	width: 100%;
	font-size: 15px;
	width: 100%;
	padding: 10px 18px;
	border: none;
	color: #fff;
}
.navbarSet button:hover {
	background-color: #18147f;
	transition: all 0.3s;
}
.chatButton {
	background-color: #171f35;
	border: none;
}
.chatModalSet {
	position: absolute;
	right: 25%;
	top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1d2641;
	border: 2.5px solid #18147f;
}
.chatModalSet button {
	font-size: 15px;
	color: #fff;
	background-color: #1d2641;
	width: 100%;
	padding: 10px 0;
}
.chatModalSet button:hover {
	transition: all 0.3s;
	background-color: #18147f;
}
.chatModalSet img {
	width: 80px;
	padding: 10px 30px;
	height: 80px;
	border-radius: 50%;
}
.chatModalSet p {
	padding: 0 0 5px 0;
	margin: 0;
	width: 100%;
	border-bottom: 3px solid #18147f;
	text-align: center;
}
.register-theme {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.theme {
	height: 20px;
	border-radius: 10px;
	width: 30px;
	cursor: pointer;
}
.navbarSettings {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbarSettingsDiv {
	padding: 30px 40px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #121829;
}
.navbarSettingsDiv button {
	color: #fff;
	margin-left: 80%;
	margin-top: -20px;
	border: none;
	background: none;
}
