body,
html {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	font-style: normal;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background-color: #c6c6c6;
	border-radius: 8px;
}
textarea:focus,
input:focus,
select:focus,
button:focus {
	outline: none;
}
button{
	cursor: pointer;
}