.formContainer {
	height: 100vh;
	background-color: #121829;
	display: flex;
	align-items: center;
	justify-content: center;
}
.formWrapper {
	background-color: #171f35;
	border: 3px solid #18147f;
	box-shadow: 0px 0px 20px #18147f;
	padding: 20px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.formWrapperE {
	box-shadow: 0px 2px 10px 1px #f06f6f;
	border: 1px solid #f06f6f;
}
.formWrapperE input {
	border: none;
	border: 1px solid #f06f6f;
}
.formWrapperE input:focus {
	border: none;
	border: 1px solid #f06f6f;
}
.logo {
	color: #dadaee;
	font-weight: bold;
	font-size: 24px;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.form-input {
	min-width: 295px;
	padding: 15px;
	border-radius: 5px;
	border: none;
	border: 1px solid #222e4e;
	color: #fff;
	background-color: #222e4e;
}
.form-input:focus {
	border: none;
	border: 1px solid #18147f;
}
.form-input::placeholder {
	color: rgb(186, 184, 184);
}
.title {
	color: #cdcdf1;
	font-size: 12px;
}
.form button {
	background-color: #1c197f;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	border: none;
}
.formWrapper p {
	color: #c5c5e8;
	font-size: 12px;
	margin-top: 10px;
}
.form-link {
	color: #c5c5e8;
	border-bottom: 1px solid #5d5d8d;
}
.input {
	display: none;
}
.form-file {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 12px;
	padding-left: 10px;
	color: #c0c0ed;
}
.img {
	width: 22px;
}
.error {
	color: rgb(255, 8, 8);
	font-size: 15px;
	text-align: center;
}
